/ Start Sidebar
#secondary.widget-area(role="complementary")
  
  = load_widget('widget_login_form')
  = load_widget('widget_category')
  = load_widget('widget_category2')
  = load_widget('widget_shopping_cart')
  = load_widget('widget_price_filter')
  = load_widget('widget_top_rated')
  = load_widget('widget_tags')
  = load_widget('widget_products_review')

/ /End of Sidebar
