/ Start Sidebar
#secondary.widget-area(role="complementary")
  
  = load_widget('widget_login_form')
  = load_widget('widget_category')
  = load_widget('widget_category2')
  = load_widget('widget_shopping_cart')
  = load_widget('widget_tags')
  = load_widget('widget_tabs')
  = load_widget('widget_subscribe')

/ /End of Sidebar
